.single-city-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
    padding: 32px 32px;
}

.single-city-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 32px 0 32px 0;
    width: 100%;
}

.site-column {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.site-measurements-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 32px 0 32px 0;
    max-width: 800px;   
}

.site-measurement-chart {
    padding: 32px 0 32px 0;
}

.site-select-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.site-select-label {
    font-weight: bold;
}

.site-select {
    padding-top: 8px
}
