.single-city-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
    padding: 10px 32px;
}

.single-city-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 32px 0 32px 0;
    width: 100%;
}

.site-column {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.section-columns {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    padding: 0 0 32px 0;
    row-gap: 16px;
    width: 100%;
}

.chart {
    align-content: center;
    width: 600px;
    height: 400px;
    text-align: center;
}

.map {
    width: 100%;
    max-width: 800px;
    min-width: 600px;
    height: 500px;
}

.site-measurements-section {
    align-items: center;
    width: 100%;
    padding: 32px 0 32px 0;
}

.site-select-form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.site-measurements-title {
    font-weight: bold;
    padding-bottom: 20px;
    font-size: x-large;
    text-align: center;
}

.site-select {
    padding-top: 8px
}
