.filterable-cell-header-format{
    .ag-icon{
        margin-left: 5px;
    }
}

.filterable-cell-header-format, .cell-header-format{
    .ag-header-cell-comp-wrapper {
        width: auto;
    }
    justify-content: center;
}

.suppress-separator-header-format{
    --ag-header-column-resize-handle-display: none;    
}

.cell-format{
    text-align: center;
    font-weight: 450;
}

.cell-very-good{
    background-color: rgba(80, 240, 229, 0.5);
}
.cell-good{
    background-color: rgba(80,204,170, 0.5);
}
.cell-medium{
    background-color: rgba(240,230,65, 0.5);
}
.cell-poor{
    background-color: rgba(255,80,80, 0.4);
}
.cell-very-poor{
    background-color: rgba(150,0,50, 0.4);
}
.cell-extremely-poor{
    background-color: rgba(125,33,129, 0.4);
    
}
.cell-error{
    color:white;
    background-color: #000000;
}
.empty-cell{
    background-color:#ebebeb;
}
