.summary-container {
    padding: 32px;
}

.loading-container {
    align-items: center;
    display: flex;
    min-height: 80vh;
    justify-content: center;
}

.switch-div{
    display:block;
    float:right;
    position: relative;
    top: 2rem;
    height: 1rem;
    right: 1.9rem;
}

.switch-label{
    align-items: center;
    float: left;
    display: flex;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
}
