.table-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
}

.table-switch-label {
    padding-bottom: 3px;
}

.table-switch-container {
    display: flex;
    align-items: center;
    margin-left: auto; 
}
