.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.table-date {
    flex: 1;
}

.switches-container {
    display: flex;
    gap: 16px;
    align-items: center;
}

.table-switch-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.table-switch-label {
    font-size: 14px;
    white-space: nowrap;
}
