.header-section {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    height: 70px;
    padding: 0 32px 0 32px;
    justify-content: space-between;
}
.vairify-logo{
    width: auto;
    height: 30px;
}
