.toolbar-section {
    align-items: center;
    background-color: black;
    border-top: solid 1px white;
    color: white;
    display: flex;
    height: 72px;
    padding: 0 32px 0 32px;
    justify-content: space-between;
}

.controls {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    align-items: center;
}

.forecast-window-main-div{
    position: relative;
    width: 10rem
}

